.app{
    background-color: rgba(255, 255, 255, 1);
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    width: 1010px;
    margin-left: auto;
    margin-right: auto;
}

.spin{
    margin-top: 40%;
}

.pagination{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 40px;
}

.ant-tabs-nav-list{
    margin-right: auto;
    margin-left: auto;
}